@model IEnumerable<CustomerOrderModel>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-10" style="padding-left: 25px;">
        <h2>All @Model.First().CustomerUserName orders</h2>
    </div>
    <div class="col-md-2" style="padding-top: 25px;padding-left: 25px;">
        @if (!User.IsInRole("Customer") && !User.IsInRole("TeamLeader"))
        {
            <a href="/order/create/" class="btn btn-success">Add new order</a>
        }
    </div>
</div>

<hr />

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Order Number</th>
                                    <th>Start date</th>
                                    <th>Status</th>
                                    <th>
                                        Units of details
                                    </th>
                                    <th>Report</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.OrderNumber</td>
                                        <td>@item.StartOrder</td>
                                        <td>@(item.Status ? "Finish" : "In progress")</td>
                                        <td>@item.CountToFinishOrder</td>
                                        <td>
                                            @if (!User.IsInRole("Customer"))
                                            {
                                                <a href="../../Report/Create?orderId=@item.OrderId" class="btn btn-primary">Create</a>
                                            }
                                            <a href="../../Report/ReportById/@item.OrderId" class="btn btn-warning">View</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

